
:root{
    --main-bg-color: rgb(189, 141, 189); 
    --card-bg-color:rgb(243, 235, 244); 
    --shadow-vw:0px 24px 48px -12px rgba(16, 24, 40, 0.18);
    --box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    --font-family: "Inter", arial, sans-serif;
}
.center{
    text-align:center;
}
.font1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:medium;
}
.font3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.font2{
    font-style: italic;
    font-size: x-large;
    font-weight: 550;
}
.font-color{
    color: rgb(126, 118, 131);
}
.max-width-1{
    max-width: 80vw;/*view port width*/
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.my-2{
    margin-bottom: 12px;
    margin-top: 12px;
}
.btn{
    padding: 3px 14px;
    border: 3px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background-color:var(--main-bg-color);;
}
.form-input{
    padding: 3px 6px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    /* width: 44%; */
}